{% extends "layout.html" %}
{% block content %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script>
<h1>Temperature-visualization</h1>
<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <ul class="nav navbar-nav">
  <li><a class="nav-item nav-link" href="hello1.html">時間別表示</a></li>
  <li><a class="nav-item nav-link" href="hello.html">週別表示</a></li>
  <li><a class="nav-item nav-link" href="hello3.html">月別表示</a></li>
</ul>
</nav>
  <h2>5時間の温度データ</h2>
  <canvas id="myLineChart"></canvas>
  <br>
  <br>
  <p>現在時刻が0時の場合には現在時刻のみが表示されます.</p>
    <center>

        <br>
        <pre>
    <b>
        <b>現在の気温</b>
        日付:{% for test5 in test5 %}{{ test5.day}}{% endfor %}
        時間：{% for test5 in test5 %}{{ test5.time}}{% endfor %}
        現在の温度{% for test5 in test5 %}{{ test5.temperature}}{% endfor %}°
        </pre>
    </b>
    </center>
  <script>
    var t1 = "{% for test1 in test1 %}{{test1.temperature}}{% endfor %}"
    var t2 = "{% for test2 in test2 %}{{test2.temperature}}{% endfor %}"
    var t3 = "{% for test3 in test3 %}{{test3.temperature}}{% endfor %}"
    var t4 = "{% for test4 in test4 %}{{test4.temperature}}{% endfor %}"
    var t = "{% for test5 in test5 %}{{test5.temperature}}{% endfor %}"
    var ctx = document.getElementById("myLineChart");
    var myLineChart = new Chart(ctx, {
      type: 'line',
      data: {
        labels: ['4時間前','3時間前', '2時間前', '１時間前','現在'],
        datasets: [
          {
            label: '温度',
            data: [t4, t3, t2, t1,t],
            borderColor: "rgba(0,0,255,1)",
            backgroundColor: "rgba(0,0,0,0)"
          }
        ],
      },
      options: {
        title: {
          display: true,
          text: '温度(時)'
        },
        scales: {
          yAxes: [{
            ticks: {
              suggestedMax: 40,
              suggestedMin: 0,
              stepSize: 10,
              callback: function(value, index, values){
                return  value +  '度'
              }
            }
          }]
        },
      }
    });
    </script>

{% endblock %}